- if current_player.allies.any?
  - show_or = true
  .card-column.mt-1
    .mt-minus-1
      Choose an ally:
    - current_player.allies.sort_by(&:value).each_with_index do |card, i|
      .card-container{ style: "top: #{60 * i}px" }
        %img{ src: "/assets/cards/#{card.card}", class: "card", data: { name: "ally", value: card.value } }

- if current_player.distractions.any?
  .card-column.mt-1
    .mt-minus-1
      - show_or ? "OR choose a distraction:" : "Choose a distraction:"
    - current_player.distractions.sort_by(&:value).each_with_index do |card, i|
      .card-container{ style: "top: #{60 * i}px" }
        %img{ src: "/assets/cards/#{card.card}", data: { name: "distraction", value: card.value } }

.encounter-button-container
  .btn#continue-button
    Continue
