#outcome.failure
  Despite your best efforts, the Hand and the city's patrols were too much for you.
  You did your best but you doubt that this will be good enough for Tarantel.
  There will be hell to pay tomorrow, that's for sure. You can only hope that the
  rest of your party fares better than you did.

  .encounter-button-container
    .btn#failure-confirm-button
      End Encounter
