%h3
  Players
- @players.each do |player|
  - player_class = player == @current_player ? "current" : ""
  .player-li{class: "#{player_class}", style: "background-color: #{Player::COLORS[player.color.to_sym]}"}
    = player.name
