#outcome.takeover
  - if outcome == "draw"
    It's a draw!
  - if outcome == "success"
    You have prevailed!
  - if outcome == "failure"
    = "You fought bravely but were overcome... You have lost #{resources_lost} resources."

  .encounter-button-container
    .btn#continue-button
      End Encounter
