#outcome.success
  You have bested the Hand and the city's patrols! You managed to bring #{pluralize(resource_value, "resource")}
  to the Black Market. Tarantel will be most pleased, and there's a sizable reward
  waiting for you for your efforts. Congratulations!

  .encounter-button-container
    .btn#victory-confirm-button
      End Encounter
