.game_info
  = render partial: "game_info", locals: { game: @game, current_player: @current_player, current_space: @current_space }

.dice-result.fadeIn

.drawn-card.fadeIn

.board
  = render partial: "board", locals: { current_player: @current_player, spaces: @spaces, players: @players }

.players
  = render partial: "players", locals: { players: @players, current_player: @current_player }
