%h2
  Session:
  = @game.name

%h3
  Players

- if @players.any?
  %ul
    - @players.each do |player|
      %li
        = player.name
- else
  %ul
    %li
      No players yet!

= button_to "Join Game", new_game_player_path(game_id: @game.id), method: :get
- if @game.players.count != 0
  = button_to "Start Game", game_start_path(game_id: @game.id), method: :get
