%h3
  Background

.f-l.col-2
  %p
    The city of Thornbare suffers under the rule of the dread Hand of the Chained
    God, whose servitors, the hideous dog-headed creatures known as Hundkin, have
    imposed strict laws governing every aspect of the citizens' lives. Weapons
    have been outlawed, and luxury goods have been seized. Even the basics needed
    to survive are increasingly hard to come by.

  %p
    Your party of adventurers was hired by a shady Tiefling named Tarantel to
    supply the Night Market, a periodic event held in great secrecy once a month,
    with contraband goods. The market is being held this very night, and it's your
    job to gather resources and get them to the Night Market while evading the
    Hand patrols and the attention of the city guard that is in their thrall.

  %p
    Your reward from Tarantel depends on delivering the maximum amount of contraband
    with the minimum amount of attention. You will need to keep your wits about
    you to succeed.

.f-l.hundkin.col-1
  = image_tag "/assets/hundkin.png"
