%h3
  Rules

%ul

  %li
    You start the game in The Bottoms, the depressing slum that rises in the
    shadow of Thornbare's outer wall. You have three random resource cards in
    your hand.

  %li
    To move around the board, you roll a die. You may only move forward.

  %li
    When you land on a space you draw a card. The card may be a resource, an ally,
    a distraction, or an encounter. Landing on a named space (e.g. The Trifle)
    always nets you a resource.

  %li
    Each time you pass The Bottoms on the board, you gain a resource card.

  %li
    If you land on a square occupied by another player, you may trade one card
    to the other player.

  %li
    Allies can be selected to assist you in an encounter. The value on the upper
    left of the selected ally card represents the number of additional dice you
    roll in the encounter.

  %li
    Distractions may be selected instead of an ally in an encounter. The value on
    the distraction card represents the number of dice that will be removed from
    your opponent's dice pool. Distractions are discarded once the encounter is
    over.

  %li
    Encounters have a value representing the number of dice in your opponent's
    dice pool. Regardless of any reductions from playing a distraction card,
    you and your opponent will always roll at least one die.

  %li
    If you win an encounter, or if you and your opponent roll the same value,
    you preserve all of your resources and play resumes. If you lose an
    encounter, you lose a number of resources equal to the encounter value. If
    you played an ally card in the encounter and lose, that ally is discarded.

  %li
    At any point after circling the board at least once, you may on your turn opt
    to enter the Sewers, which serve as the entrance to the Night Market. This
    triggers the final encounter. If you win the final encounter, congratulations!
    Your accumulated resources will be put on the market and you will earn a reward
    from Tarantel. If you lose the final encounter, none of your resources will
    make it to the Night Market and you will be out of the game.

  %li
    The game is over when all players have attempted to enter the Night Market.

= link_to "Back", :back
